body,
html {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100vw;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: 'Open Sans', sans-serif;
}

.navbar-logo {
  height: 50px;
}
